{:deps {org.clojure/core.async {:mvn/version "1.3.610"}
        org.clojure/tools.logging {:mvn/version "1.1.0"
                                   :exclusions [org.clojure/clojure]}

        io.netty/netty-transport {:mvn/version "4.1.60.Final"}
        io.netty/netty-transport-native-epoll {:mvn/version "4.1.60.Final"}
        io.netty/netty-codec {:mvn/version "4.1.60.Final"}
        io.netty/netty-codec-http {:mvn/version "4.1.60.Final"}
        io.netty/netty-handler {:mvn/version "4.1.60.Final"}
        io.netty/netty-handler-proxy {:mvn/version "4.1.60.Final"}
        io.netty/netty-resolver {:mvn/version "4.1.60.Final"}
        io.netty/netty-resolver-dns {:mvn/version "4.1.60.Final"}

        hato/hato {:mvn/version "0.8.0"}}
 ; Use IntelliJ to build DiskHttpObjectAggregator:
 ; Project Structure > Project Settings > Modules > talk > Paths >
 ; Compiler Output: Use module compile output path >
 ; Output path: .../talk/classes
 ; watch because it might flick back...?
 :paths ["src" "classes"]
 :aliases
 {:dev {:extra-deps {org.clojure/clojure {:mvn/version "1.10.3"}
                     org.clojure/test.check {:mvn/version "1.1.0"}
                     org.slf4j/slf4j-simple {:mvn/version "1.7.30"}
                     com.taoensso/timbre {:mvn/version "5.1.2"}
                     com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"}
                     bidi/bidi {:mvn/version "2.1.6"}}
        :extra-paths ["dev" "test"]}}}