{:deps {org.clojure/core.async {:mvn/version "1.6.673"}
        org.clojure/tools.logging {:mvn/version "1.2.4"
                                   :exclusions [org.clojure/clojure]}
        io.netty/netty-transport {:mvn/version "4.1.95.Final"}
        io.netty/netty-transport-native-epoll {:mvn/version "4.1.95.Final"}
        io.netty/netty-codec {:mvn/version "4.1.95.Final"}
        io.netty/netty-codec-http {:mvn/version "4.1.95.Final"}
        io.netty/netty-handler {:mvn/version "4.1.95.Final"}
        io.netty/netty-handler-proxy {:mvn/version "4.1.95.Final"}
        io.netty/netty-resolver {:mvn/version "4.1.95.Final"}
        io.netty/netty-resolver-dns {:mvn/version "4.1.95.Final"}

        hato/hato {:mvn/version "0.9.0"}}
 :paths ["src" "classes"]
 :aliases
 {:dev {:extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                     org.clojure/test.check {:mvn/version "1.1.1"}
                     org.slf4j/slf4j-simple {:mvn/version "2.0.7"}
                     com.taoensso/timbre {:mvn/version "6.2.2"}
                     com.fzakaria/slf4j-timbre {:mvn/version "0.4.0"}
                     bidi/bidi {:mvn/version "2.1.6"}
                     cheshire/cheshire {:mvn/version "5.11.0"}
                     com.cognitect/transit-clj {:mvn/version "1.0.333"}}
        :extra-paths ["dev" "test"]}}}
